body{
    margin:0;
    background-color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: gray;
}

.container{
    margin:58px auto;
    width:48%;
    height:500px;
    border-radius: 5px;
    background-color: white;
    position:relative;
    box-shadow: 2px 2px 10px gray;
}
.right{
    width: 58%;
    height:500px;
    position: absolute;
    right:0;
    top:0;
}

.right h1{
    margin-top:40px;
    margin-left:0;
}

.right h1 span{
    color: black;
}

.right p{
    line-height: 1;
}

.form{
    width:90%;
    height:300px;
    margin-top:60px;
}

.email-icon{
    width: 25px;
    height: 25px;
    padding-top: 3px;
    position:absolute;
    opacity: 0.3;
}

.lock-icon{
    width: 28px;
    height: 28px;
    position:absolute;
    opacity: 0.3;
    margin-top:50px;
}
.form input{
    font-size:22px;
    margin-left:40px;
    border:none;
    border-bottom: 2px solid gainsboro;
    padding-bottom: 8px;
}

.pass{
    margin-top:50px;
}

.btn input{
   padding:10px 40px;
   border-radius: 50px;
   font-size: 18px;
   background-color: rgb(208, 65, 236);
   cursor: pointer;
}
.btn{
    position: absolute;
    right:0;
    margin-top:20px;
    margin-right: 40px;
}
.image{
    background-image: url("https://images.pexels.com/photos/114979/pexels-photo-114979.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size:  cover;
    width: 35%;
    height: 500px;
    display: inline-block;
}

